<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <button>로그인</button>
    <a href="/login">로그인</a>

    <p>Welcome to <%= title %></p>
  </body>
</html>
